*{
    margin:0;
    font-family: 'Open Sans', sans-serif;

}
/*header and navigation style*/
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color:#FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.btn-primary{
    height: 64px;
    border-radius: 5px;
    background:#FD6E0A ;
    color:white;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding:18px 35px;

}
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom,left;
}
/*banner styles*/
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
    
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
}
.banner-title{
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 30px;
    color:#FD6E0A;
    
    
}
.banner-images{
    padding-left: 40px;
}
/* mian section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section syyles */
.about{
    margin-top:130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding:130px 150px;

    
}
.section-title{
    text-align: center;
    margin: 30px;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color:#757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color:#757575;
    text-align: center;
}
.info-description{
    font-size: 20px;
    color:#474747;
}
/* what i do */
.what-i-do{
    margin-top:130px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill-title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color:#757575;
}
.skill{
    background: #FFFFFF;
    box-shadow:0px 6px 50px rgba(0,0,0,0.06);
    border-radius: 5px;
    padding:30px;
}
/* resume */
.resume{}
.section-tetle{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 50px;

}
.resume-title{
   display: flex;
}
.resume-content {
    display: flex;
    gap: 24px;
}
.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}
.resume-title {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}
.title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.sub-title {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.description {
    color: #757575;
}
.resume-button {
    margin-top: 50px;
    text-align: center;
}
/* contact section */
.contact {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact .section-title {
    text-align: left;
}
.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}
.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.contact input[type="text"], input[type="email"], textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
.contact a {
    text-decoration: none;
}
